<html>
	<head>
		<title>LibraryFeed</title>
	</head>

	<body>
		<h1> Welcome To LibraryFeed</h1>
			{% if user.is_authenticated %}
			<h2> Hello {{ user.username }} </h2>
			<a href="/main/profile/">Go To My Profile</a> </br>
			<a href="/main/logout/"> Logout</a>
			<br>
		{% else %}
			<a href="/main/register/"> Register Here</a>
			<br>
			<a href="/main/login/"> Login Here</a> <br>
			<a href="/main/library/new/"> Create Your Own Library</a>
		{% endif %}
			<br>
			<a href="/main/library/list/"> Show me Libraries</a>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	</body>
</html>